<section class="customer section-crm">
  <div class="container">
    <div class="customer-img-container">
      <img src="./images/support-img.png" alt="support" width="540" />
    </div>
    <div class="customer-text-container">
      <p class="crm-paraagraph">Easier decision making for</p>
      <h2 class="crm-title">Customer Support</h2>
      <p class="crm-text crm-description">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul>
        <li class="crm-list-item customer-list-item">
          <span class="customer-icon-background customer-icon-background-one"
            ><svg class="customer-icon" width="17" height="12">
              <use href="./images/icons-blended.svg#customer-tick"></use></svg
          ></span>
          <p class="crm-text customer-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="crm-list-item customer-list-item">
          <span class="customer-icon-background customer-icon-background-two"
            ><svg class="customer-icon" width="17" height="12">
              <use href="./images/icons-blended.svg#customer-tick"></use></svg
          ></span>
          <p class="crm-text customer-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="crm-list-item customer-list-item">
          <span class="customer-icon-background customer-icon-background-three"
            ><svg class="customer-icon" width="17" height="12">
              <use href="./images/icons-blended.svg#customer-tick"></use></svg
          ></span>
          <p class="crm-text customer-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
