<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">What Clients Say</h2>
    <p class="feedback-paragraph">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <div class="feedback-icon-container">
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-list-container">
          <img src="./images/Ellipse 1.png" alt="foto" width="50" height="50" />
          <div class="feedback-list-text-container">
            <h3 class="feedback-list-title">Wahid Ari</h3>
            <p class="feedback-list-paragraph">Designer</p>
          </div>
        </div>
      </li>
      <li class="feedback-list-item">
        <div class="feedback-icon-container">
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-list-container">
          <img src="./images/Ellipse 2.png" alt="foto" width="50" height="50" />
          <div class="feedback-list-text-container">
            <h3 class="feedback-list-title">Wahid Ari</h3>
            <p class="feedback-list-paragraph">Designer</p>
          </div>
        </div>
      </li>
      <li class="feedback-list-item">
        <div class="feedback-icon-container">
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star-1"></use>
          </svg>
          <svg class="feedback-icon" width="19" height="18">
            <use href="./images/icons-blended.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-list-container">
          <img src="./images/Ellipse 3.png" alt="foto" width="50" height="50" />
          <div class="feedback-list-text-container">
            <h3 class="feedback-list-title">Wahid Ari</h3>
            <p class="feedback-list-paragraph">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
