<footer class="footer">
  <div class="container">
    <div class="footer-container-part-one">
      <div class="footer-logo-container">
        <a class="footer-logo" href="index.html"
          ><img src="./images/logo.png" alt="logo" />Product</a
        >
        <ul class="footer-social-list">
          <li class="footer-social-list-item">
            <a class="footer-social-link-item" href="">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons-blended.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list-item">
            <a class="footer-social-link-item" href="">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons-blended.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list-item">
            <a class="footer-social-link-item" href="">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons-blended.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="footer-list">
        <li class="footer-list-item-one">
          <h3 class="footer-title">Resource</h3>
          <ul>
            <li>
              <a class="footer-list-link" href="">About Us</a>
            </li>
            <li>
              <a class="footer-list-link" href="">Blog</a>
            </li>
            <li>
              <a class="footer-list-link" href="">Contact</a>
            </li>
            <li>
              <a class="footer-list-link" href="">FAQ</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item-two">
          <h3 class="footer-title">Legal Stuff</h3>
          <ul>
            <li>
              <a class="footer-list-link" href="">Disclaimer</a>
            </li>
            <li>
              <a class="footer-list-link" href="">Financing</a>
            </li>
            <li>
              <a class="footer-list-link" href="">Privacy Policy</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item-three">
          <form class="footer-form">
            <h3 class="footer-title form-title">
              knowing you're always on the best energy deal.
            </h3>
            <label class="footer-label">
              <div class="footer-icon-container">
                <input
                  class="footer-input"
                  type="tel"
                  name="user-tel"
                  placeholder="Enter your phone number"
                />
                <svg class="footer-icon" width="16" height="24">
                  <use href="./images/icons-blended.svg#mobile-screen"></use>
                </svg>
              </div>
            </label>
            <button class="footer-btn" type="button">Sign up Now</button>
          </form>
        </li>
      </ul>
    </div>
    <p class="footer-paragraph">
      Made With Love By Figmaland All Right Reserved
    </p>
  </div>
</footer>
