<section class="news">
  <div class="container">
    <h2 class="news-title">Contents Strategies</h2>
    <p class="news-paragraph">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="news-list">
      <li class="news-list-item">
        <img
          src="./images/image bg1.jpg"
          alt="Increasing Prosperity With Positive Thinking"
          width="350"
          height="185"
        />
        <div class="news-text-container">
          <p class="news-text">
            By <span class="news-text-span">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="news-title-item">
            Increasing Prosperity With Positive Thinking
          </h3>
        </div>
      </li>
      <li class="news-list-item">
        <img
          src="./images/image bg2.jpg"
          alt="Motivation Is The First Step To Success"
          width="350"
          height="185"
        />
        <div class="news-text-container">
          <p class="news-text">
            By <span class="news-text-span">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="news-title-item news-title-item-current">
            Motivation Is The First Step To Success
          </h3>
        </div>
      </li>
      <li class="news-list-item">
        <img
          src="./images/image bg3.png"
          alt="Success Steps For Your Personal Or Business"
          width="350"
          height="185"
        />
        <div class="news-text-container">
          <p class="news-text">
            By <span class="news-text-span">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="news-title-item">
            Success Steps For Your Personal Or Business
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
