<section class="pricing">
  <div class="container">
    <h2 class="pricing-title">Price Table</h2>
    <p class="pricing-paragraph">We offer competitive price</p>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <h3 class="pricing-list-title">Free</h3>
        <p class="pricing-list-text">Brief price description</p>
        <ul class="pricing-list-includes">
          <li class="pricing-list-includes-item">
            <span class="includes-price-span"
              ><span class="price-span">0</span>
              <div class="price-contaainer">
                <span class="price-sign">$</span>
                <span class="price-text">Per / month</span>
              </div>
            </span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Only 2 Operators</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Only 2 Operators</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Landing Pages</span>
          </li>
        </ul>
        <button class="pricing-btn" type="button">Order Now</button>
      </li>
      <li class="pricing-list-item">
        <h3 class="pricing-list-title">Standard</h3>
        <p class="pricing-list-text">Brief price description</p>
        <ul class="pricing-list-includes">
          <li class="pricing-list-includes-item">
            <span class="includes-price-span"
              ><span class="price-span">5</span>
              <div class="price-contaainer">
                <span class="price-sign">$</span>
                <span class="price-text">Per / month</span>
              </div></span
            >
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">5+ Operators</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Notifications</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Landing Pages</span>
          </li>
        </ul>
        <button class="pricing-btn" type="button">Order Now</button>
      </li>
      <li class="pricing-list-item">
        <h3 class="pricing-list-title">Premium</h3>
        <p class="pricing-list-text">Brief price description</p>
        <ul class="pricing-list-includes">
          <li class="pricing-list-includes-item">
            <span class="includes-price-span"
              ><span class="price-span">10</span>
              <div class="price-contaainer">
                <span class="price-sign">$</span>
                <span class="price-text">Per / month</span>
              </div></span
            >
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">10+ Operators</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Notifications</span>
          </li>
          <li class="pricing-list-includes-item">
            <span class="includes-span">Landing Pages</span>
          </li>
        </ul>
        <button class="pricing-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
