<section class="promo">
        <div class="promo-container">
          <div class="promo-container-item">
            <h2 class="promo-title">
              Join 100 Compannies who boost their business with Product
            </h2>
            <button
              class="promo-btm"
              type="button"
            >
              Get This
            </button>
          </div>
          <img
            src="./images/graphics.png"
            alt="graphics"
            width="351"
            height="331"
          />
        </div>
      </section>
    </main>