<section class="staf">
  <div class="container">
    <h2 class="staf-title">Quick & Easy Process</h2>
    <p class="staf-paragraph">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staf-list">
      <li class="staf-list-item">
        <img src="/images/avatar1.png" alt="avatar1" width="98" />
        <div class="staf-text-container">
          <p class="staf-text">I can take care of your pitch</p>
        </div>
      </li>
      <li class="staf-list-item">
        <div class="staf-text-container">
          <p class="staf-text">I can prototype your app</p>
        </div>
        <img src="/images/avatar2.png" alt="avatar2" width="98" />
      </li>
      <li class="staf-list-item">
        <div class="staf-text-container">
          <p class="staf-text">I can take care of your pitch</p>
        </div>
        <img src="/images/avatar3.png" alt="avatar3" width="98" />
      </li>
      <li class="staf-list-item">
        <img src="/images/avatar4.png" alt="avatar4" width="98" />
        <div class="staf-text-container">
          <p class="staf-text">I can help marketing strategy</p>
        </div>
      </li>
    </ul>
    <button type="button" class="staf-btn">Contact our expert</button>
  </div>
</section>
