.footer .container {
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer-container-part-one {
  display: flex;
}

.footer-list {
  display: flex;
  margin-bottom: 16px;
}

.footer-logo-container {
  margin-right: 146px;
}

.footer-list-item-one {
  margin-right: 129px;
  width: 118px;
}

.footer-list-item-two {
  margin-right: 83px;
  width: 131px;
}

.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link-item {
  border-radius: 100%;
  background-color: #edfffc;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  stroke: #02897a;
  stroke-width: 2px;
  fill: none;
}

.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.footer-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
}

.form-title {
  width: 260px;
  margin-bottom: 30px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  padding-left: 42px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-icon-container {
  position: relative;
  margin-bottom: 25px;
}

.footer-icon {
  fill: #02897a;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
  text-align: center;
}
