.header .container {
  display: flex;
}

.navigation {
  display: flex;
}

.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 237px;
  padding: 22px 0;
}

.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.nav-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
  cursor: pointer;
}

.nav-list-item-active {
  font-weight: 600;
}

.header-list-btm {
  display: flex;
  gap: 21px;
  margin-left: auto;
  align-items: center;
}

.header-list-btm-item {
  padding: 19px 0;
}

.header-list-sign-in {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-list-sign-up {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
